SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"

source .venv/bin/activate

export PYTHONPATH="${PYTHONPATH}:${SCRIPT_DIR}/etcd3"
export PYTHONPATH="${PYTHONPATH}:${SCRIPT_DIR}/tests"
