SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"

export PATH="${SCRIPT_DIR}/.venv-infra/bin:${PATH}"

export PYTHONPATH="${SCRIPT_DIR}/src"
export PYTHONPATH="${PYTHONPATH}:${SCRIPT_DIR}/tests"

source .venv/bin/activate
